version: "3.8"

services:

  tunnel:
    container_name: cloudflared-tunnel
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token eyJhIjoiMmZlMzEyNjcxN2ZjNmM3YzAyNDFhYzU3MmQ1Mjg2MDkiLCJ0IjoiMWVmYWVkYjgtMDU3NS00MDAxLTllOGMtMDdmMWM0YjlkMTY2IiwicyI6Ik5qZzNNRFUzTldZdE5qTTVPUzAwTTJNMkxUaG1NRGN0TURObFptWXdaREkzTWpnNCJ9
    depends_on:
      - rocketchat

  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    command:
      - "http"
      - "rocketchat:3000"
    environment:
      - NGROK_AUTHTOKEN=D398w6tQ6RVR4Aoeij2kOjuAeeHF_7cDLJiAoCmU3vn5ywFxQw
    depends_on:
      - rocketchat



  rocketchat:
    image: registry.rocket.chat/rocketchat/rocket.chat:latest
    container_name: rocketchat
    restart: unless-stopped
    volumes:
      - ./uploads:/app/uploads
    environment:
      - MONGO_URL=mongodb://mongodb:27017/rocketchat?replicaSet=rs0&directConnection=true
      - MONGO_OPLOG_URL=mongodb://mongodb:27017/local?replicaSet=rs0&directConnection=true
      - ROOT_URL=http://192.168.1.58
      - PORT=3000
      - DEPLOY_METHOD=docker
    expose:
      - "3000"
    depends_on:
      - mongodb

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - rocketchat

  mongodb:
    image: mongo:7.0
    container_name: db
    restart: unless-stopped
    volumes:
      - ./data/db:/data/db
      - ./data/dump:/dump
    command: mongod --oplogSize 128 --replSet rs0 --bind_ip_all

  mongodb-init-replica:
    image: mongo:7.0
    depends_on:
      - mongodb